<div class="container" style="margin-top: 40px;">
   <h2>List Of Tasks</h2>
   <div class="row" >
      <div class="col-md-4 col-sm-4 col-lg-4">
         <div class="panel panel-default">
            <div class="panel-heading">List All Task Done</div>
            <div class="panel-body">

               <ul class="list-group">
                  
                  <li class="list-group-item list-group-item-success"><a routerLink="./childtoparent">Angular Study Materials</a></li>
                  <li class="list-group-item list-group-item-info"><a routerLink="./Binding">All Types Binding</a></li>
                  <li class="list-group-item list-group-item-danger"><a routerLink="./Template">Template</a></li>
                  <li class="list-group-item list-group-item-warning"><a routerLink="./Directive">Directives</a></li>
                  <li class="list-group-item list-group-item-danger"><a routerLink="./pipe">Pipe</a></li>
                  <li class="list-group-item list-group-item-warning"><a routerLink="./Routing">Routing</a></li>
                  <li class="list-group-item list-group-item-danger"><a routerLink="./Services">Services</a></li>
                  <li class="list-group-item list-group-item-warning"><a routerLink="./HttpClient">Http Client</a></li>
                  <li class="list-group-item list-group-item-danger"><a routerLink="./Clipromts">Clipromts</a></li>
                  <li class="list-group-item list-group-item-warning"><a routerLink="./AllForms">All Forms Types</a></li>
                  <li class="list-group-item list-group-item-danger"><a routerLink="./MaterialcdkVirtualscrolling">Materials/CDK-Virtual Scrolling</a></li>
                  <li class="list-group-item list-group-item-warning"><a routerLink="./materialdraganddrop">Materials/CDK-Drag & Drop</a></li>
                  <li class="list-group-item list-group-item-danger"><a routerLink="./animation">Animation</a></li>
                  <li class="list-group-item list-group-item-warning"><a routerLink="./testingbuildingproject">Testing & Building Angular7 Project</a></li>
                  <li class="list-group-item list-group-item-danger"><a routerLink="./alloperators">All Operator</a></li>
                  <li class="list-group-item list-group-item-warning"><a routerLink="./lifecyclehooks">life Cycle Hooks</a></li>
                  <li class="list-group-item list-group-item-danger"><a routerLink="./Ngmodulestypes">Ng Modules Types</a></li>
                  <li class="list-group-item list-group-item-warning"><a routerLink="./observable">Observable</a></li>
                  <li class="list-group-item list-group-item-danger"><a routerLink="./componentstyle">Component Style</a></li>
                  <li class="list-group-item list-group-item-success"><a routerLink="./angularelements">Angular Elements</a></li>
                  <li class="list-group-item list-group-item-info"><a routerLink="./childtoparent">Child And Parent</a></li>
                  <li class="list-group-item list-group-item-warning"><a routerLink="./DependencyinjectioninAngular">Dependency injection in Angular</a></li>
                  <li class="list-group-item list-group-item-danger"><a routerLink="./Hierarchicalinjectors">Hierarchical injectors</a></li>
                  <li class="list-group-item list-group-item-warning"><a routerLink="./Dependencyproviders">Dependency providers</a></li>
                  <li class="list-group-item list-group-item-danger"><a routerLink="./Dependencyinjectioninaction">Dependency injection in action</a></li>
                  <li class="list-group-item list-group-item-warning"><a routerLink="./Navigatethecomponenttreewithdi">Navigate the component tree with DI</a></li>

                  <li class="list-group-item list-group-item-danger"><a routerLink="./child">Pending</a></li>
                  
               </ul>
            </div>
         </div>
      </div>
      
   </div>
</div>