<h1>You can Search your Favourite Song</h1>
<form class="form-inline">
    <div class="form-group">
      <input type="search"
             class="form-control" [ngStyle]="{'max-width.px': widthExp}"
             placeholder="Enter search string"
             [formControl]="searchField">
    </div>
  </form>
  <br>
  <div class="text-center">
    <p class="lead" *ngIf="loading">Loading...</p>
  </div>
  
  <ul class="list-group">
    <li class="list-group-item"
        *ngFor="let track of results | async; let i=index">

      {{ i+1 }} ==> 
        
      <img src="{{track.thumbnail}}">
      ==>
      <a target="_blank"
         href="{{track.link}}">{{ track.track }}
      </a>
      ==========>
      <a target="_blank" [ngStyle]="{'color': 'red'}"
         href="{{track.artist}}">{{ track.artist }}
      </a>
     
    
      
    </li>
  </ul>